---
import Layout from '../layouts/PageWithTitle.astro';
---

<Layout
	title="The Benchmark"
	description="Overview of Fieldwork benchmark tasks and scoring methodology."
>
	<style is:global>
		.title {
			display: none;
		}
	</style>
	<p>
		MUST BE REWORKED LATER. SHOW A SEMI-LIVE LEADERBOARD, TASK RESULTS, AND A PAPER IF WE WRITE ONE.
		MAYBE ALSO INCLUDE DESCRIPTIONS OF TASKS
	</p>
</Layout>
