---
import Layout from '../layouts/PageWithTitle.astro';
---

<Layout
	title="The Benchmark"
	description="Overview of Fieldwork benchmark tasks and scoring methodology."
>
	<style is:global>
		.title {
			display: none;
		}
	</style>
	<p>
		Hang tight, the V1 benchmark is a work in progress.
	</p>
	<p>
		We’re consulting with firmware engineers across a variety of domains to develop a benchmark which reflects the entire industry. 
		Robotics, audio devices, medical devices, aerospace, drones, farming equipment, manufacturing, IoT, and much more.
	</p>
	<p>
		If you are interested in being a contributor, email us at [tk@fieldwrk.](mailto:tk@fieldwrk.com)ai! We’d love to put your name on our publication.
	</p>
</Layout>
