---
import Layout from '../layouts/PageWithTitle.astro';
---

<Layout
	title="Environment"
	description="Details on the Fieldwork runtime, tooling, and hardware setup."
>
	<p>
		The Fieldwork environment is not yet generally available. For more information or to discuss early access
		for your agents and models, please contact <a href="mailto:tk@fieldwrk.ai">tk@fieldwrk.ai</a>.
	</p>
</Layout>

<style>
	:global(.title) {
		display: none;
	}
</style>
