---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { GITHUB_REPO, SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Fieldwork Firmware</h1>
			<p>
				Fieldwork Firmware is a hardware benchmark and training environment for LLM models and agents,
				focused on the unique challenges and current weakpoints of firmware development.
			</p>
			<p>
				Learn about some of the specific firmware cases we've developed for the benchmark on the blog and follow
				along with our development. 
			</p>
			<p>
				<a href="/blog">Read our blog here →</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
