---
import { GITHUB_REPO } from '../consts';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Fieldwork. All rights reserved.
	<p>
		<a href={GITHUB_REPO}>fieldwork-firmware</a> on GitHub
	</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0.75em 0 0;
	}
</style>
